/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333333;
}

/* Estilos para dispositivos de pantalla pequeña (móviles) */
@media only screen and (max-width: 600px) {
    /* Ajustar el tamaño de las imágenes de los servicios */
    .service-img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

/* Estilos para el encabezado */
header {
    background-color: #0abedae8;
    color: hsl(0, 20%, 97%);
    padding: 6vw; /* Cambiado a unidades de vw */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Cambiado a 100% */
    margin: 0 auto;
}

header img {
    max-width: 80%; /* Cambiado a 80% */
    margin-bottom: 2vw; /* Cambiado a unidades de vw */
}

header h1 {
    text-shadow: 0.5vw 0.5vw 0.5vw #202020; /* Cambiado a unidades de vw */
    margin-bottom: 3vw; /* Cambiado a unidades de vw */
    font-size: 6vw; /* Cambiado a unidades de vw */
}

header p { 
    margin-bottom: 2vw; /* Cambiado a unidades de vw */
    text-shadow: 0.3vw 0.3vw 0.3vw #070707; /* Cambiado a unidades de vw */
    font-size: 2.5vw; /* Cambiado a unidades de vw */
}


/* Estilos para la barra de navegación */
nav ul {
    font-size: 5vh; /* Cambiado a unidades de vh */
    background-color: #656060;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
}

nav ul li {
    margin-right: 2vh; /* Cambiado a unidades de vh */
}

nav ul li a {
    color: #0abedae8;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #070707;
}

/* Estilos para las secciones de mantenimientos e instalaciones eléctricas */
.services-section {
    max-width: 100%; /* Cambiado a 100% */
    margin-bottom: 4vw; /* Cambiado a unidades de vw */
    background-color: #60cfeb;
    padding: 4vw; /* Cambiado a unidades de vw */
}

.services-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2vw; /* Cambiado a unidades de vw */
}

.services {
    width: calc(32% - 3vw); /* Cambiado a unidades de vw */
    padding: 2vw; /* Cambiado a unidades de vw */
    border: 0.2vw solid #ccc; /* Cambiado a unidades de vw */
    border-radius: 2vw; /* Cambiado a unidades de vw */
    background-color: #ffffff;
}

.services:hover {
    background-color: #8ac6d1; /* Cambia el color de fondo al pasar el cursor */
}

.service-img {
    width: 100%;
    border-top-left-radius: 2vw; /* Cambiado a unidades de vw */
    border-top-right-radius: 2vw; /* Cambiado a unidades de vw */
}

.service-title {
    font-weight: bold;
    margin-top: 1vw; /* Cambiado a unidades de vw */
    text-align: center;
}

.service-description {
    margin-top: 1vw; /* Cambiado a unidades de vw */
}


/* Estilos para el pie de página */
footer {
    background-color: #60cfeb;
    color: #ffffff;
    padding: 2vh;
    text-align: center;
    max-width: 1450px; /* Ancho máximo */
    margin: 2vh auto; /* Centrado horizontal */
}

* Estilos para la sección de "Conócenos" */
.about-section {
    background-image: url('imagenes/conocenos.jpg');
    background-size: cover;
    background-position: center;
    padding: 8vw 2vw;
    color: #ffffff; /* Color del texto a blanco */
    height: auto; /* Cambiado a auto */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo más oscuro */
}

.about-content {
    max-width: 100%;
    width: 100%;
    color: #ffffff;
    text-align: center; /* Alinea el texto horizontalmente */
    padding: 2vw; /* Agrega espacio alrededor del texto */
}

.about-content h2 {
    font-size: 4.2vw; /* Cambiado a unidades de vw */
    margin-bottom: 2vw; /* Cambiado a unidades de vw */
    color: #60cfeb; /* Color azul para el título */
    text-shadow: 0.2vw 0.2vw 0.2vw #000000; /* Cambiado a unidades de vw */
}

.about-content p {
    font-size: 2.5vw; /* Cambiado a unidades de vw */
    text-shadow: 0.2vw 0.2vw 0.2vw #000000; /* Cambiado a unidades de vw */
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: justify; /* Alinea el texto a la izquierda */
}

/* Estilos para el pie de página */
footer {
    background-color: #60cfeb;
    color: #ffffff;
    padding: 2vw;
    text-align: center;
    max-width: 100%; /* Cambiado a 100% */
    margin: 2vw auto; /* Centrado horizontal */
}

/* Estilos para el pie de página final */
.footer-bottom {
    width: 100%; /* El pie de página final ocupa todo el ancho */
    text-align: center; /* Alinea el texto al centro */
    margin-top: 2vw; /* Cambiado a unidades de vw */
    background-color: #0abedae8;
    text-align: center;
}
